<div class='form-group'>
  <%= form.text_area :content, placeholder: "text" , rows: "10", class: 'form-control' %>
  </br>
  <%= form.text_field :region, placeholder: "場所", class: 'form-control'%>
  </br>
  <%= form.text_field :website, placeholder: "Url", class: 'form-control'%>
  </br>
  <%= form.submit "SEND", class: 'btn btn-secondary' %>
</div>