<div class="col-md-6 offset-md-3 px-5 mt-4">
  <div class="jumbotron px-5">
    <%= form_with(model: @profile, local: true, method: :patch, class: "text-center") do |form| %>
      <h3>
        自己紹介
      </h3>
      <%= render partial: "form", locals: { form: form } %>
    <% end %>
  </div>
</div>