<nav class="navbar navbar-expand-lg navbar-light  mb-3">
  <div class="mx-auto" style="width: 80%;">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "投稿一覧", user_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "いいね記事一覧", like_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>