<div class="card-group">
  <% @posts.each do |post| %>
  <%url = post.url%>

    <% charset = nil %>
    <% html = open(url) do |f|
    charset = f.charset 
    f.read %> 
    <% end %>
    <% doc = Nokogiri::HTML.parse(html, charset)
    title = doc.title.to_s
    description = doc.css('//meta[property="og:description"]/@content').to_s
    img = doc.css('//meta[property="og:image"]/@content').to_s %>
  <div class="col-md-4">
    <a href="<%= url %>"> 
      <img src="<%= img %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= title  %></h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </a>
  </div>
  <% end %>
</div>
