<div class="container pt-5">
  <div class="jumbotron col-md-6 mx-auto">
    <h2 class="display-6">TechRecommendについて</h1>
    <p class="lead">このサイトはテックエキスパートの受講生がカリキュラムで学習する時に見つけた参考サイトを共有することを目的に作りました。</p>
    <hr class="my-4">
    <p>ここで情報を共有して効率的に学習しましょう。</p>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light justify-content-center">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">TOP</a>
              </li>
            </ul>
          </div>
        </nav>
</div>