.ruby {
  .navbar {
    background: $ruby;
  }
  #ruby {
    color: white;
  }
}
.rails {
  .navbar {
    background: $rails;
  }
  #rails {
    color: white;
  }
}
.aws {
  .navbar {
    background: $aws;
  }
  #aws {
    color: white;
  }
}
.js {
  .navbar {
    background: $js;
  }
  #js {
    color: white;
  }
}
.docker {
  .navbar {
    background: $docker;
  }
  #docker {
    color: white;
  }
}